#cms-page-composer-toolkit {
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	position: fixed;
	background: #000;
}

#cms-page-composer.compose .section {
	min-height: 200px;
	background: #eee;
	margin: 10px 0;
	padding: 10px 0;
}

#cms-page-composer.compose .placeholder {
	position: relative;
	min-height: 100px;
	background: #ddd;
}

#cms-page-composer.compose .placeholder > * {
	display: none;
}

#cms-page-composer.compose .placeholder > .ui-resizable-handle {
	display: block;
}

#cms-page-composer.compose .holder {
	background: #bbb;
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	background: #00cc00;
	left: 0px;
	top: 0;
	height: 100%;
}

.ui-resizable-e {
	cursor: e-resize;
	background: #0000cc;
	width: 7px;
	right: 5px;
	top: 0;
	height: 100%;
}

.ui-resizable-handle {
position: absolute;
font-size: .1px;
display: block;
}